{% extends 'base.html.twig' %}

{% block title %}Консоль администратора - обзор пользователей{% endblock %}
{# {% if is_granted('IS_AUTHENTICATED_FULLY') %} #}
{% block popuptask %}
{% if mainpopup != '' %}
    {{ include(mainpopup) }}
{% endif %}
{% endblock %}
{% block header %}
<header class="header">
    <div class="container">
        <div class="header__block">
            <div class="header__left">
                <div class="user">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    Режим администратора - {{ app.user.uname }}
                    {% endif %}
                </div>
                <ul class="items-count">
                    <li class="items-count__item">
                        Зарегистрировано пользователей: <strong>{{ countAllUsers }}</strong>
                    </li>
                    <li class="items-count__item">
                        Всего активных задач: 
                            <strong>{{ countActiveTasks }}</strong>
                        
                    </li>
                    <li class="items-count__item">
                        Всего приближается Deadline: 
                            <strong>{{ countDeadlineTasks }}</strong>
                        
                    </li>
                </ul>
            </div>
            <div class="header__right"><a href="/logout" class="logout">LogOut</a>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block functions %}
<div class="functions">
    <div class="functions__create">
        <a href="{{ path('app_admin', {popuptask: 'createuser'}) }}"
            class="functions__button functions__button-blue">Создать</a>
    </div>
    <div class="functions__filter">
        <a href="{{ path('usersfilter', {usersFilterChange: 'all' }) }}"
            class="functions__button functions__button-grey {% if usersFilter == 'all' %} functions__button-greyactive {% endif %}">Все</a>
        <a href="{{ path('usersfilter', {usersFilterChange: 'active' }) }}"
            class="functions__button functions__button-grey {% if usersFilter == 'active' %} functions__button-greyactive {% endif %}">Актуальные</a>
        <a href="{{ path('usersfilter', {usersFilterChange: 'deleted' }) }}"
            class="functions__button functions__button-grey {% if usersFilter == 'deleted' %} functions__button-greyactive {% endif %}">Удаленные</a>
    </div>
</div>
{% endblock %}

{% block checktable %}
{{ include('admin/_userstable.html.twig') }}
{% endblock %}
